

<h1><%= @song.name %></h1><br>
<h2>Artist: <%= link_to @song.artist.name, artist_path %></h2><br>
<h2>Genre: <%= link_to @song.genre.name, genre_path %></h2><br>
 <%= link_to "Go Back", songs_path %>
